body {
    padding: 0%;
    margin: 0%;
    font-family: roboto;
}

@font-face {
    font-family: roboto;
    src: url("/static/font/Roboto/Roboto-Bold.ttf");
}


/* header */

ul {
    font-family: roboto;
    padding: 0%;
    margin: 0%;
}

#header {
    display: flex;
    justify-content: space-between;
    /* background-color: #C4C4C4; */
}

li {
    list-style-type: none;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%/50%;
    float: left;
}

.menu {
    margin-right: 30px;
    position: relative;
}

.menu div {
    display: flex;
    justify-content: space-between;
}

.menu div div {
    display: flex;
}

.menu div div img {
    height: 30px;
    width: 30px;
    border-radius: 50%/50%;
}

div h3 {
    line-height: 40px;
}

li h1 {
    float: right;
    line-height: 40px;
}

.submenu {
    position: fixed;
    top: 60px;
    right: 30px;
    display: none;
    background-color: #C4C4C4;
    border-radius: 10px/10px;
}

.menu:hover .submenu {
    display: block;
}

.submenu li {
    color: #FFF;
    padding: 10px;
    font-weight: bold;
    max-width: 200px;
}

li span {
    line-height: 20px;
}

.submenu li:hover {
    background-color: #918f8f;
    border-radius: 10px/10px;
}


/* Chatbot container */

img {
    width: 50px;
    height: 50px;
    border-radius: 50%/50%;
    padding: 10px;
    margin-top: 10px;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5vh;
    height: 60vh;
    overflow-y: auto;
    padding: 0%;
    border: #ebe8e8 5px solid;
    border-radius: 10px/10px;
}


/* scrollbar */

#chatbox::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(240, 240, 240);
    /* border-radius: 2px/2px; */
}

.section::-webkit-scrollbar-track {
    border-radius: 10px;
}

#chatbox::-webkit-scrollbar-thumb {
    background-color: #c6c9c6;
    border-radius: 10px;
}

.botText_container,
.userText_container {
    width: auto;
    max-width: 70%;
    display: flex;
}

.botText_container {
    float: left;
}

.userText_container {
    float: right;
}

.container {
    display: flex;
    justify-content: space-between;
}

.userText {
    background-color: #009688;
    color: white;
    font-weight: 100;
    border-radius: 10px/10px;
    padding: 5px;
    font-size: 17px;
    line-height: 40px;
    font-family: roboto;
}

.botText {
    background-color: #291fb3;
    color: white;
    font-weight: 100;
    border-radius: 10px/10px;
    padding: 5px;
    font-size: 17px;
    line-height: 40px;
    font-family: roboto;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5vh;
    border-radius: 15px/15px;
    border: 3px solid #009688;
}

#textInput {
    width: 80%;
    height: 30px;
    border: none;
    font-family: roboto;
    font-size: 17px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px/15px;
    word-wrap: break-word;
    word-break: break-all;
}

#buttonInput {
    margin-right: 1.5%;
    width: 30px;
    height: 30px;
    line-height: 20px;
    font-family: roboto;
    font-size: 17px;
    float: right;
    padding: 5px;
}

#textInput:focus {
    outline-width: 0;
}