body {
    padding: 0%;
    margin: 0%;
}

img {
    width: 35px;
    height: 35px;
    border-radius: 50%/50%;
    padding: 10px;
    margin-top: 5px;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 5vh;
    height: 57vh;
    overflow-y: auto;
}

.botText_container,
.userText_container {
    width: auto;
    max-width: 70%;
    display: flex;
}

.botText_container {
    float: left;
}

.userText_container {
    float: right;
}

.container {
    display: flex;
    justify-content: space-between;
}

.userText {
    background-color: #009688;
    color: white;
    font-weight: 100;
    border-radius: 10px/10px;
    padding: 5px;
    font-size: 17px;
    line-height: 30px;
    font-family: monospace;
}

.botText {
    background-color: #291fb3;
    color: white;
    font-weight: 100;
    border-radius: 10px/10px;
    padding: 5px;
    font-size: 17px;
    line-height: 30px;
    font-family: monospace;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
    border-radius: 5%/5%;
}

#textInput {
    width: 86%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 17px;
}

#buttonInput {
    margin-left: 2%;
    width: 10%;
    height: 25px;
    line-height: 20px;
    font-family: monospace;
    font-size: 17px;
    float: right;
}